<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma YU-GI-OH API </title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
 <!--Cabecera principal-->
<div class="container">
    <header class="border-bottom lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="link-secondary" style="color: #0c0a07; text-decoration: none; position: relative;" href="#">
                    Suscribete
                    <div style="position: absolute; bottom: -4px; left: 0; width: 100%; height: 2px; background-color: #2a9e5e;"></div>
                </a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-body-emphasis text-decoration-none" style="color: #fffaf2;" href="#">Large</a>
            </div>
        </div>
    </header>
</div>






<!--Titulo de la pagina-->
<main class="container" style="margin-bottom: 20px;">
   <div class="border plomo-border p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary" style="background-image: url('assets/img/portadaYuGi-oh.png'); background-size: cover; background-position: center; background-color: #1f2937;">        <div class="col-lg-6 px-0">
             <div class="col-lg-6 px-0">
             <h1 class="display-4 fst-italic" style="color: #0a0a0a; font-family: 'Arial', sans-serif; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); white-space: nowrap;">
    YU-GI-OH API
</h1>
      <p class="lead my-3" style="color: #0a0a0a; font-family: 'Arial', sans-serif; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); font-size: 14px; max-height: 80px; line-height: 1.2; overflow: hidden;">
    Explora el mundo de las cartas de YU-GI-OH y descubre su colección y obtén información detallada sobre cada carta.¡Sumérgete en este universo épico duelos!
</p>
            </div> 
        </div>
    </div>



   <!-- Cartas Modificacion -->

 <div class="title-container">
    <h3 class="custom-title" onclick="this.classList.toggle('active')">Effect Monster</h3>
</div>
<!--Cartas -->
    <div class="row mb-2" id="listarcartas">
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(77585513, 1);
            });
        </script>
      <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="card-1" style="border-color: #84f19c;">
        <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0" style="text-align: center; color: rgb(181,84,41); animation: scaleAnimation 0.3s;">Título de la Tarjeta</h3>
            <p class="card-text mb-auto" style="margin-top: 10px;"></p>
        </div>
        <div class="zoom-img">
            <img class="card-img-top" width="200" height="250" />
        </div>
    </div>
</div>



        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(38033121, 2);
            });
        </script>

        <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="card-2">
        <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0" style="text-align: center; color: rgb(181,84,41); animation: scaleAnimation 0.3s;">Título de la Tarjeta</h3>
            <p class="card-text mb-auto " style="margin-top: 10px;" ></p>
        </div>
        <div class="zoom-img">
            <img class="card-img-top" width="200" height="250" />
        </div>
    </div>
</div>


        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(51351302, 3);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-3">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0" style="text-align: center; color: rgb(181,84,41); animation: scaleAnimation 0.3s;">Título de la Tarjeta</h3>
                    <p class="card-text mb-auto" style="margin-top: 10px;"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(44223284, 4);
            });
        </script>

        <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="card-4">
        <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0" style="text-align: center; color: rgb(181,84,41); animation: scaleAnimation 0.3s;">Título de la Tarjeta</h3>
            <p class="card-text mb-4" style="margin-top: 10px;"></p>
        </div>
        <div class="zoom-img">
            <img class="card-img-top" width="200" height="250" />
        </div>
    </div>
</div>


        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(57346400, 5);
            });
        </script>

        <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="card-5">
        <div class="col p-4 d-flex flex-column position-static">
           <h3 class="mb-0" style="text-align: center; color: rgb(181,84,41); animation: scaleAnimation 0.3s;">Título de la Tarjeta</h3>
            <p class="card-text mb-auto" style="margin-top: 10px;"></p>
        </div>
        <div class="zoom-img">
            <img class="card-img-top" width="200" height="250" />
        </div>
    </div>
</div>


        <!--Segunda Parte-->   


        <h3>Spell Card</h3>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(81385346, 6);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-6">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(83764719, 7);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-7">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(72302403, 8);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-8">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(87430998, 9);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-9">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>

         <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(3492538, 10);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-10">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>
    <h3>Normal Monster</h3>
     <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(6368038, 11);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-11">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>
    <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(48305365, 12);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-12">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>
     <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(5053103, 13);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-13">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(89631139, 14);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-14">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(46986421, 15);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-15">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>