<div class="container">
    <header class="border-bottom lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="link-secondary" href="#">Subscribe</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-body-emphasis text-decoration-none" href="#">Large</a>
            </div>
        </div>
    </header>


</div>

<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary"
        style="background-image: url('assets/img/portadaYuGi-oh.png'); background-size: cover; background-position: center;">
        <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic">YU-GI-OH API</h1>
            <p class="lead my-3">Esta página muestra las cartas de YU-GI-OH</p>
        </div>

    </div>
    <h3>Effect Monster</h3>


    <div class="row mb-2" id="listarcartas">

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(77585513, 1);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-1">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(38033121, 2);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-2">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(51351302, 3);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-3">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(44223284, 4);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-4">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(57346400, 5);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-5">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>
        <h3>Spell Card</h3>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(81385346, 6);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-6">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(83764719, 7);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-7">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(72302403, 8);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-8">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(87430998, 9);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-9">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>

         <script>
            document.addEventListener("DOMContentLoaded", function () {
                consultarCarta(3492538, 10);
            });
        </script>

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                id="card-10">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"></h3>
                    <p class="card-text mb-auto"></p>
                </div>
                <div class="zoom-img">
                    <img class="card-img-top" width="200" height="250" />
                </div>
            </div>
        </div>


    </div>



</main>