<!-- Login Section-->
<section class="page-section mt-5" id="login">
    <div class="container">
        <!-- Login Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-4" style="font-family: 'Arial', sans-serif; font-size: 32px;">Login</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Register Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form action="/user/login" method="post">

                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control form-control-lg text-black" id="email" type="email" name="email" placeholder="name@example.com" data-sb-validations="required,email" />
                        <label for="email" style="color: #0edb8d;">Email address</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <!-- Password input-->
                    <div class="form-floating mb-3">
                        <input class="form-control form-control-lg text-black" id="password" type="password" name="password" placeholder="Enter your password..." data-sb-validations="required" />
                        <label for="password" style="color: #0edb8d;">Password</label>
                        <div class="invalid-feedback" data-sb-feedback="password:required">A password is required.</div>
                    </div>
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Error sending message!</div>
                    </div>
                    <!-- Submit Button-->
                    <div class="text-center mt-4">
                        <button class="btn btn-primary btn-xl me-3" type="submit" style="background-color: #0edb8d;">Log in</button>
  
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
