
 <!-- Portfolio Section-->
<section class="page-section mt-5" id="login">
               <!-- Portfolio Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">

                <form action="/user/reset" method="post">

                    <!-- Title input-->
                    <div class="form-floating mb-3">
                        <input class="form-control custom-input"  id="title" type="text" placeholder="Enter the name of the card you want to add" required
                            name="title" />
                        <label for="title" style="color: #40957f;">Ingrese el Correo</label>
                    </div>

                    <!-- Submit Button-->
                    <button class="btn btn-primary btn-xl" type="submit">Add</button>

                </form>

            </div>
        </div>
    </div>
</section>
